@charset 'utf-8'; @font-face {
    font-family: 'Avenir Book';
    src: url('../fonts/Avenir-Book.woff2') format('woff2'), url('../fonts/Avenir-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Black Oblique';
    src: url('../fonts/Avenir-BlackOblique.woff2') format('woff2'), url('../fonts/Avenir-BlackOblique.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Black.woff2') format('woff2'), url('../fonts/Avenir-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Book';
    src: url('../fonts/Avenir-BookOblique.woff2') format('woff2'), url('../fonts/Avenir-BookOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Oblique.woff2') format('woff2'), url('../fonts/Avenir-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Heavy.woff2') format('woff2'), url('../fonts/Avenir-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-LightOblique.woff2') format('woff2'), url('../fonts/Avenir-LightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-MediumOblique.woff2') format('woff2'), url('../fonts/Avenir-MediumOblique.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Light.woff2') format('woff2'), url('../fonts/Avenir-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-HeavyOblique.woff2') format('woff2'), url('../fonts/Avenir-HeavyOblique.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Medium.woff2') format('woff2'), url('../fonts/Avenir-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Pro Bk';
    src: url('../fonts/ITCAvantGardePro-Bk.woff2') format('woff2'), url('../fonts/ITCAvantGardePro-Bk.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Pro Bk';
    src: url('../fonts/ITCAvantGardePro-Demi.woff2') format('woff2'), url('../fonts/ITCAvantGardePro-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Pro Md';
    src: url('../fonts/ITCAvantGardePro-Bold.woff2') format('woff2'), url('../fonts/ITCAvantGardePro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Pro Md';
    src: url('../fonts/ITCAvantGardePro-Md.woff2') format('woff2'), url('../fonts/ITCAvantGardePro-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Roman.woff2') format('woff2'), url('../fonts/Avenir-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*
  Reset
*/
*, *:before, *:after {
    box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer, header, nav, section, main {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

/*
  Widget Styles
*/
body {
    font-family: 'Avenir', sans-serif;
}

.wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.wrap .bg-side {
    background-image: url("../images/cover.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
}

.wrap .products-side {
    width: 50%;
    height: 100vh;
    overflow: hidden;
}

.wrap .products-side .products-list {
    display: flex;
    flex-direction: column;
    margin: 96px 120px;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

.wrap .products-side .products-list .products-header {
    font-family: 'ITC Avant Garde Pro Md', sans-serif;
    font-weight: 700;
    color: #000;
    width: 70%;
    margin-bottom: 12px;
    font-size: 31.25px;
    line-height: 130%;
}

.wrap .products-side .products-list .products-subheader {
    font-family: 'Avenir', sans-serif;
    color: #666666;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    width: 60%;
    margin-bottom: 32px;
}

.wrap .products-side .products-list .products-link {
    font-family: 'Avenir', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 900;
    font-size: 12.8px;
    line-height: 17px;
    color: #000;
    position: relative;
    display: inline;
    margin-bottom: 5px;
}

.wrap .products-side .products-list .products-link:before {
    position: absolute;
    content: '';
    bottom: -5px;
    height: 1px;
    background: currentColor;
    width: 100%;
    transition: 0.2s ease-out;
}

.wrap .products-side .products-list .products-link:hover {
    color: #666666;
}

.wrap .products-side .products-list .products-link:hover:before {
    width: 2%;
}

.swiper {
    width: 600px;
    height: 300px;
}

.product-slider {
    width: calc(100% + 20rem);
    height: 100%;
    margin-top: 4.25rem;
    position: relative;
}

.product-slider .product-card {
    display: flex;
    flex-direction: column;
    max-width: 230px;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.product-slider .product-card:hover img {
    transform: scale(0.9);
    border-color: black;
}

.product-slider .product-card img {
    width: 230px;
    height: 310px;
    object-fit: cover;
    transition: 0.2s ease-out;
    border: 1px solid transparent;
}

.product-slider .product-card p {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 160%;
    color: #000;
    margin-top: 12px;
    margin-bottom: 0;
}

.product-slider .product-card .product-options {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.product-slider .product-card .product-options .product-price {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 12.8px;
    line-height: 160%;
    color: #000;
}

.product-slider .product-card .product-options .product-colors {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
}

.product-slider .product-card .product-options .product-colors input {
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    border: 1.5px solid #fff;
    outline: 1px solid transparent;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.product-slider .product-card .product-options .product-colors input:checked {
    outline: 1px solid #000;
}

.product-slider .next-slides {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: calc(50% - 20px);
    right: calc(50% + -38px);
    z-index: 1;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.product-slider .next-slides:hover {
    background: #fff;
    border-color: #000;
}

.product-slider .swiper-wrapper {
    position: inherit;
}


@media (max-width: 1600px) {
    .product-slider .product-card img {
        width: 200px;
        height: 270px;
    }
}

@media (max-width: 1366px) {
    .product-slider .product-card img {
        width: 180px;
        height: 250px;
    }

    .wrap .products-side .products-list .products-header {
        width: 90%;
    }

    .wrap .products-side .products-list .products-subheader {
        width: 80%;
    }
}

@media (max-width: 1199px) {
    .wrap .products-side .products-list {
        margin: 96px 60px;
    }
}

@media (max-width: 1199px) {
    .wrap .bg-side {
        width: 100%;
        height: 60vh;
        position: relative;
        z-index: 0;
    }

    .wrap {
        flex-direction: column;
    }

    .wrap .products-side {
        width: 100%;
        height: 80vh;
        margin-top: -40vh;
        position: relative;
    }

    .wrap .products-side .products-list .products-subheader {
        display: none;
    }

    .wrap .products-side .products-list .products-header {
        color: #fff;
    }

    .wrap .products-side .products-list .products-link {
        color: #fff;
    }

    .wrap .products-side .products-list .products-link:hover {
        color: #ebebeb;
    }

    .wrap .bg-side:after {
        position: absolute;
        content: '';
        inset: 0;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05085784313725494) 20%, rgba(0,0,0,0.39539565826330536) 100%);
    }
}